{{#each this}}

<div class="card">
    <ul class="info">
        <li class="info-title">Name: {{name}}</li>
        <li>NativeName: {{nativeName}}</li>
        <li>Capital: {{capital}}</li>
        <li>Region: {{region}}</li>
        <li>Population: {{population}}</li>
        <li>Area: {{area}}</li>
        <li>Languages:
            {{#each this.languages}}
        <li>{{name}}</li>
        {{/each}}
        </li>
        {{!-- <div class="flag"><img src={{flag}} alt="flag" width="100%"></div> --}}
    </ul>
    <div class="flag"><img src={{flag}} alt="flag" width="400"></div>
</div>

{{/each}}